/* 代码块容器 — 带边框型（default simple tech fancy） */
.wechat-content pre {
  font-size: 14px;
  overflow-x: auto;
  border-radius: $radius;
  padding: 16px;
  line-height: 1.6;
  margin: 1em 0;
  background: $code_bg;
  border: 1px solid $code_border;
}
